.er-color-yellow {
    color: #f5fe69;
}

.er-color-dark-green {
    color: #669915;
}

.er-bg-dark-green {
    background: #669915;
}

.er-color-orange {
    color: #fd9206;
}

.button-green {
    background: #399946;
}

.er-bg-green {
    background: #a3d55f;
}

.er-bg-gray {
    background: #f4f4f4;
}

.br-5 {
    border-radius: 5% !important;
}

@media (max-width: 991px) {
    .mobile-flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.font-size-3 {
    font-size: 3rem;
}

.font-size-5 {
    font-size: 5rem;
}

@media (max-width: 540px) {
    .font-size-3 {
        font-size: 2rem;
    }

    .font-size-5 {
        font-size: 4rem;
    }
}
