.er-color-yellow {
    color: #f5fe69;
}

.er-color-dark-green {
    color: #669915;
}

.er-bg-dark-green {
    background: #669915;
}

.er-color-orange {
    color: #fd9206;
}

.button-green {
    background: #399946;
}

.er-bg-green {
    background: #a3d55f;
}

.br-5 {
    border-radius: 5% !important;
}

@media (max-width: 991px) {
    .mobile-flex-center {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

* {
    font-family: 'Open Sans', sans-serif;
}

.row {
    margin-left: 0 !important;
    margin-right: 0 !important;
}
